/* variables */
:root {
  --text-secondary-color: #757575;
  --text-bright-color: #fff;
  --secondary-background-color: #2f303a;
  --secondary-background-color-transparent: rgba(47, 48, 58, 0.4);
  --button-color: #f5f4fa;
  --highlight-color: #2196f3;
  --mail-tel-bottom-color: rgba(255, 255, 255, 0.6);
  --secondary-icon-color: rgba(255, 255, 255, 0.1);
  --main-icon-color: #afb1b8;
}
/* /variables */

/* global */
body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: #212121;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus,
a:active {
  color: var(--highlight-color);
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section__padding-top {
  padding-top: 94px;
}

.section__padding-bottom {
  padding-bottom: 94px;
}

.section-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-secondary-color);
}

img {
  display: block;
}
/* /global */

/* logo */
.logo {
  font-family: 'raleway', sans-serif;
  font-size: 26px;
  line-height: 1.17;
  color: var(--highlight-color);
  display: inline-block;
}

.logo--header {
  color: #000;
}

.logo--footer {
  color: var(--text-bright-color);
}
/* /logo */

/* header */
.header {
  border-bottom: 1px solid #ececec;
}

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__padding {
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  margin-left: 93px;
  gap: 46px;
}

.header__nav-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link--active {
  position: relative;
  color: var(--highlight-color);
}

.nav-link--active::after {
  content: '';
  display: block;
  background-color: var(--highlight-color);
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: -33px;
  border-radius: 2px;
}

.header__contacts-flex {
  display: flex;
  align-items: center;
}

.header__contacts-link {
  display: flex;
  align-items: center;
  padding-right: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts-icon-mail {
  width: 16px;
  height: 12px;
  fill: currentColor;
  padding-right: 10px;
}

.header__contacts-icon-tel {
  width: 10px;
  height: 16px;
  fill: currentColor;
  padding-right: 10px;
}

.header__contacts-icon-mail:hover,
.header__contacts-icon-tel:hover,
.header__contacts-icon-mail:focus,
.header__contacts-icon-tel:focus {
  fill: var(--highlight-color);
}
/* /header */

/* hero */
.hero {
  background: linear-gradient(
      var(--secondary-background-color-transparent),
      var(--secondary-background-color-transparent)
    ),
    url(../images/banner-photo.jpg);
  max-width: 1600px;
  background-size: cover;
  margin: 0 auto;
}

.hero__text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-bright-color);
  padding-top: 200px;
  padding-bottom: 30px;
  margin: 0;
}

.hero__button-flex {
  display: flex;
  justify-content: center;
  padding-bottom: 200px;
}

.hero__button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--highlight-color);
  color: var(--text-bright-color);
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
}
/* /hero */

/* strengths */
.strengths__list {
  list-style-type: none;
  font-size: 14px;
  line-height: 1.17;
  display: flex;
  gap: 30px;
}

.strengths__box {
  border-radius: 4px;
  background: var(--button-color);
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.strengths__text {
  color: var(--text-secondary-color);
  font-size: 14px;
  line-height: 1.7;
  padding-top: 10px;
}

.strengths__icons {
  width: 70px;
  height: 70px;
}
/* /strenghts */

/* what-we-do */
.what-we-do {
  display: flex;
  padding-top: 50px;
  justify-content: center;
}

.what-we-do__img-list {
  position: relative;
  list-style: none;
  display: flex;
  gap: 30px;
}

.what-we-do__img-caption {
  position: absolute;
  width: 370px;
  bottom: 0;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-bright-color);
  background-color: rgba(47, 48, 58, 0.8);
}
/* /what-we-do */

/* team */
.team__background {
  background-color: var(--button-color);
}

.team__flex {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
}

.team__card {
  background-color: var(--text-bright-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team__card-caption {
  display: block;
  padding: 30px 0 30px 0;
}

.team__name {
  font-weight: 500;
  padding-bottom: 10px;
}

.team__job {
  color: var(--text-secondary-color);
}
/* /team */

/* social links */
.social-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 10px;
}

.social-links__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links__icons {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-links__border {
  display: flex;
  padding: 12px;
  color: var(--main-icon-color);
  border-radius: 50%;
}

.social-links__border:hover,
.social-links__border:focus {
  background-color: var(--highlight-color);
  color: var(--button-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__border--footer {
  border: 1px hidden var(--secondary-icon-color);
  background-color: var(--secondary-icon-color);
  color: var(--text-bright-color);
}
/* /social links */

/* clients */
.clients__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  gap: 30px;
}

.clients__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__border {
  border: 1px solid var(--main-icon-color);
  color: var(--main-icon-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__border:hover,
.clients__border:focus {
  border: 1px solid var(--highlight-color);
  fill: var(--highlight-color);
}

.clients__icon {
  width: 106px;
  height: 60px;
  padding: 15px 30px;
  fill: currentColor;
}
/* /clients */

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
  color: var(--text-bright-color);
  line-height: 1.7;
}

.footer__padding {
  padding-bottom: 20px;
}

.footer__flex {
  display: flex;
}

.footer__contacts {
  display: inline-block;
}

.footer__studio-address {
  font-style: normal;
  font-size: 14px;
}

.footer__mail {
  color: var(--mail-tel-bottom-color);
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer__tel {
  color: var(--mail-tel-bottom-color);
  justify-content: flex-start;
}

.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 4px;
}

.footer__join-us {
  padding: 12px 0px 0px 70px;
}

.footer__newsletter-flex {
  padding: 12px 0px 0px 70px;
}

.footer__newsletter-form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-top: 20px;
}

.footer__newsletter-form-input {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--secondary-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  height: 50px;
  width: 340px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-left: 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.footer__newsletter-form-input:hover,
.footer__newsletter-form-input:focus {
  border-color: var(--highlight-color);
}

.footer__newsletter-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.footer__newsletter-button--icon {
  width: 24px;
  height: 24px;
  fill: var(--text-bright-color);
}
/* /footer */

/* modal window */
.modal {
  position: sticky;
  width: 528px;
  top: 221px;
  right: 536px;
  bottom: 222px;
  left: 536px;
  left: 50%;
  background: var(--text-bright-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%);
  box-sizing: border-box;
}

.modal__backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 500ms ease-in-out;
}

.modal__backdrop.backdrop--is-hidden .modal {
  transform: translate(-50%) scale(0);
  transition: 500ms ease-in-out;
}

.modal__backdrop .modal {
  transform: translate(-50%) scale(1);
  transition: 500ms ease-in-out;
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--text-bright-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  font-size: 22px;
}

.modal__close-button:hover {
  background-color: var(--highlight-color);
  color: var(--button-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__form-wrapper {
  padding: 40px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.modal__form-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 12px;
}

.modal__form-label {
  display: block;
  padding-bottom: 4px;
  color: var(--text-secondary-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
}

.modal__form-comment {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 0 0 16px;
  box-sizing: border-box;
}

textarea#comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
}

.modal__form-links {
  text-decoration: underline;
  color: var(--highlight-color);
}

.modal__form-field {
  position: relative;
  margin-bottom: 10px;
}

.modal__form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 12px 0 12px 42px;
  box-sizing: border-box;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal__form-input:hover,
.modal__form-input:focus,
.modal__form-comment:hover,
.modal__form-comment:focus {
  border-color: var(--highlight-color);
}

.modal__form-field-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-field:focus-within .modal__form-field-icon,
.modal__form-field:hover .modal__form-field-icon {
  fill: var(--highlight-color);
}

.modal__form-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal__form-checkbox input {
  background-color: #fff;
  margin: 0;
  appearance: none;
  border: 2px solid #212121;
  width: 15px;
  height: 14px;
  border-radius: 2px;
  margin-right: 7px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-checkbox input:checked {
  background-color: var(--highlight-color);
  border: none;
}

.modal__form-check-icon {
  width: 11px;
  height: 10px;
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--text-bright-color);
}

.modal__form-terms-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-secondary-color);
}

.modal__form-button {
  display: block;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--highlight-color);
  color: var(--text-bright-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}
/* /modal */

/* portfolio filters */
.portfolio__filters {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-bottom: 50px;
}

.portfolio__button {
  background-color: var(--button-color);
  color: #212121;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  border-style: hidden;
  border-radius: 4px;
}

.portfolio__button:hover {
  background-color: var(--highlight-color);
  color: var(--text-bright-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__button:focus {
  background-color: var(--highlight-color);
  color: var(--text-bright-color);
}

.portfolio__button-text {
  display: block;
  padding: 6px 22px;
}
/* /portfolio filters */

/* portfolio main */
.portfolio__main {
  color: var(--text-secondary-color);
  line-height: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio__card {
  margin-bottom: 30px;
}

.portfolio__card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__name {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 4px;
}

.portfolio__caption {
  border-left: solid 1px #eeeeee;
  border-right: solid 1px #eeeeee;
  border-bottom: solid 1px #eeeeee;
  padding: 20px 24px 20px 24px;
}

.portfolio__card-overflow {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.portfolio__card-overlay {
  position: absolute;
  color: var(--text-bright-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 49px 45px 49px 24px;
  text-align: left;
  width: 100%;
  height: 100%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}

.portfolio__card:hover .portfolio__card-overlay {
  transform: translateY(-100%);
}
/* /portfolio main */
