.clients__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  gap: 30px;
  flex-wrap: wrap;

  // &-item {
  //   flex-basis: calc((100% - 30px) / 2);
  // }
}

.clients__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__border {
  border: 1px solid $primaryIconColor;
  color: $primaryIconColor;
  border-radius: 4px;
  width: 210px;
  height: 92px;
  transition: $defaultTransition;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    border: 1px solid $brandBlueColor;
    fill: $brandBlueColor;
  }
}

.clients__icon {
  width: auto;
  height: 100%;
  padding: 15px 30px;
  fill: currentColor;
}

@media screen and (min-width: $mobileSizeEnd) {
  .clients__border {
    width: 226px;
  }
}

@media screen and (min-width: $tabletSizeEnd) {
  .clients__list {
    flex-wrap: nowrap;
  }

  .clients__border {
    width: 170px;
  }
}
