.clients__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  gap: 30px;
}

.clients__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__border {
  border: 1px solid $primaryIconColor;
  color: $primaryIconColor;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition: $defaultTransition;

  &:hover,
  &:focus {
    border: 1px solid $brandBlueColor;
    fill: $brandBlueColor;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  padding: 15px 30px;
  fill: currentColor;
}
