.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $secondaryBackgroundColor;
  color: $primaryBrightColor;
  line-height: 1.7;
  font-size: 14px;

  &__padding {
    padding-bottom: 20px;
  }

  &__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__contacts {
    display: inline-block;
  }

  &__studio-address {
    font-style: normal;
  }

  &__mail {
    color: $footerContactsColor;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__tel {
    color: $footerContactsColor;
    justify-content: flex-start;
  }

  &__text {
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__join-us {
    padding-top: 60px;
  }

  &__newsletter-flex {
    padding-top: 60px;
  }

  &__newsletter-form-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding-top: 20px;
  }

  &__newsletter-form-input {
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: $secondaryBackgroundColor;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: $defaultBorderRadius;
    height: 50px;
    width: calc(100vw - 30px);
    max-width: 450px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding-left: 16px;
    transition: $defaultTransition;
    outline: none;

    &:hover,
    &:focus {
      border-color: $brandBlueColor;
    }
  }

  &__newsletter-button {
    @extend .hero__button;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    &--icon {
      width: 24px;
      height: 24px;
      fill: $primaryBrightColor;
    }
  }
}
