.header {
  border-bottom: 1px solid #ececec;

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__padding {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    gap: 60px;

    &-link {
      transition: $defaultTransition;

      &--active {
        position: relative;
        color: $brandBlueColor;

        &::after {
          content: '';
          display: block;
          background-color: $brandBlueColor;
          height: 4px;
          width: 100%;
          position: absolute;
          bottom: -230%;
          border-radius: 2px;
        }
      }
    }
  }

  &__contacts-flex {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__contacts-link {
    display: flex;
    align-items: center;
    transition: color $defaultTransition;
    font-size: 12px;
    line-height: 1.17;
  }

  &__contacts-icon-mail {
    width: 14px;
    height: 10px;
    fill: currentColor;
    margin-right: 8px;
  }

  &__contacts-icon-tel {
    width: 10px;
    height: 14px;
    fill: currentColor;
    margin-right: 8px;
  }

  &__contacts-icon-mail:hover,
  &__contacts-icon-tel:hover,
  &__contacts-icon-mail:focus,
  &__contacts-icon-tel:focus {
    fill: $brandBlueColor;
  }
}

@media screen and (min-width: $tabletSizeStart) and (max-width: $tabletSizeEnd) {
  .header__padding {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .header__contacts-flex {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .header__menu-contact-link {
    font-size: 12px;
  }
}

@media screen and (min-width: $desktopSize) {
  .header__contacts-flex {
    display: flex;
    align-items: center;
  }

  .header__contacts-link {
    font-size: 14px;
    line-height: 1.14;
  }

  .header__contacts-icon-mail {
    width: 16px;
    height: 12px;
    fill: currentColor;
    margin-right: 10px;
  }

  .header__contacts-icon-tel {
    width: 10px;
    height: 16px;
    fill: currentColor;
    margin-right: 10px;
  }

  .header__padding {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .header__nav-link--active::after {
    bottom: -205%;
  }
}
