.hero {
  background-color: $transparentBackgroundColor;
  background-image: linear-gradient($transparentBackgroundColor, $transparentBackgroundColor),
    url(../images/banner-photo.jpg);
  height: 400px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__text {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primaryBrightColor;
    padding-bottom: 30px;
    margin: 0;
  }

  &__button {
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: $brandBlueColor;
    color: $primaryBrightColor;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: $defaultBorderRadius;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient($transparentBackgroundColor, $transparentBackgroundColor),
      url(../images/banner-photo@2x.jpg);
  }
}

@media screen and (min-width: $desktopSize) and (max-width: $tabletSizeEnd) {
  .hero {
    height: 600px;
  }

  .hero__text {
    font-size: 44px;
    line-height: 1.4;
  }
}
