.logo {
  font-family: 'raleway', sans-serif;
  font-size: 26px;
  line-height: 1.17;
  color: $brandBlueColor;
  display: inline-block;

  &--header {
    color: #000;
  }

  &--footer {
    color: $primaryBrightColor;
  }
}
