.strengths__list {
  list-style-type: none;
  font-size: 14px;
  line-height: 1.17;
  display: flex;
  gap: 30px;

  .strengths__box {
    border-radius: 4px;
    background: $secondaryBrightColor;
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .strengths__text {
    color: $secondaryTextColor;
    font-size: 14px;
    line-height: 1.7;
    padding-top: 10px;
  }

  .strengths__icons {
    width: 70px;
    height: 70px;
  }
}
