.strengths__list {
  list-style-type: none;
  font-size: 14px;
  line-height: 1.7;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 60px;
}

.strengths__box {
  border-radius: $defaultBorderRadius;
  background: $secondaryBrightColor;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.strengths__title {
  text-align: center;
}

.strengths__text {
  color: $secondaryTextColor;
  font-size: 14px;
  line-height: 1.7;
  padding-top: 10px;
}

.strengths__icons {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: $tabletSizeStart) and (max-width: $mobileSizeEnd) {
  .strengths__list {
    padding-bottom: 45px;
  }

  .strengths__title {
    text-align: left;
  }

  .strengths__list-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: $desktopSize) {
  .strengths__list {
    flex-wrap: nowrap;
  }

  .strengths__title {
    text-align: left;
  }
}
