* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: $primaryTextColor;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus,
a:active {
  color: $brandBlueColor;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section__padding-top {
  padding-top: 60px;
}

.section__padding-bottom {
  padding-bottom: 60px;
}

.section-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $secondaryTextColor;
}

img {
  display: block;
  width: 100%;
}
